{% extends "main.html" %}
{% load static %}

{% block content %}

<div class="banner-content">
    <h4 class="breadcrumbs">Schedule</h4>
</div>

<div class="page-content row g-3">
    <div class="col-sm-12 gap-3 d-flex flex-column" style="height: calc(100vh - 11vh)">
        <div class="card metric-card flex-grow-1">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="title-font pb-3">Your Scheduled Subject</h2>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="search-wrapper">
                            <button class="icon-button" onclick="toggleSearch()">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#736b68" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                              </svg>
        
                            </button>
                            <div class="search-input" id="searchContainer">
                              <input type="text" id="searchInput" placeholder="Search..." oninput="searchJO()">
                            </div>
                        </div>

                        {% if request.user.user_section.exists %}
                            <button type="button" class="normal-button px-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="30px" fill="#736b68" class="m-0 p-0">
                                    <path d="M480-337q-8 0-15-2.5t-13-8.5L308-492q-12-12-11.5-28t11.5-28q12-12 28.5-12.5T365-549l75 75v-286q0-17 11.5-28.5T480-800q17 0 28.5 11.5T520-760v286l75-75q12-12 28.5-11.5T652-548q11 12 11.5 28T652-492L508-348q-6 6-13 8.5t-15 2.5ZM240-160q-33 0-56.5-23.5T160-240v-80q0-17 11.5-28.5T200-360q17 0 28.5 11.5T240-320v80h480v-80q0-17 11.5-28.5T760-360q17 0 28.5 11.5T800-320v80q0 33-23.5 56.5T720-160H240Z"/>
                                </svg>
                            </button>
                        {% endif %}

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Print Unofficial Enrollment Schedule?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>You are about to print an <strong>unofficial</strong> copy of your enrollment schedule.</p>

                                    <strong>Disclaimer:</strong>
                                    <p>This printout is not an Official Registration Form. Official Registration Forms are available at the Accounting Department.</p>
                                    <p>Do you want to proceed with printing the unofficial copy?</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="normal-button" data-bs-dismiss="modal">Close</button>
                                <a href="{% url "print-schedule" %}"><button type="button" class="submit-button">Print Schedule</button></a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <!-- List of subjects -->
                <div class="subjectsList-container" id="open-subject">
                    {% if confirmation %}
                        {% for subject in subjects %}
                            <div class="subject-card">
                                <div class="subject-card-header">
                                    <div class="d-flex align-items-center">
                                        <div class="subject-icon">📚</div>
                                        <div class="subject-info">
                                            <h4>{{subject.course_code}}: {{subject.course_title}}</h4>
                                            <p>{{subject.course.course}} {% if subject.units %}|{% endif %} {{subject.units}} {% if subject.units %} Units {% endif %} {% if subject.laboratory %}|{% endif %} {{subject.laboratory}}{% if subject.laboratory %} Laboratory {% endif %}</p>
                                        </div>
                                    </div>
                                
                                    <div class="d-flex">
                                        <button class="view-subject small-button">View Schedule</button>
                                    </div>                                      
                                </div>
                                <div class="subject-card-body">
                                    <ul class="section-list">
                                        {% for section in subject.is_enrolled %}
                                            <li>
                                                <div class="section-info">
                                                    <strong>{{ section.section.section }}</strong>
                                                    <p>Time: {{ section.section.day|slice:":3" }} 
                                                    {{ section.section.time_from|date:"h:i A" }} - 
                                                    {{ section.section.time_to|date:"h:i A" }}</p>
                                                    <p>Room: {{ section.section.room }}</p>
                                                    <p>Professor: {% if section.section.professor.prof_info.name_ext %}{{section.section.professor.prof_info.name_ext}} {% endif %} {{ section.section.professor.name }}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>                                
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="h-100 d-flex justify-content-center align-items-center">
                        <p class="title-font">You don't have a confirmed schedule at this time.</p>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>   
</div>

<script>
    //Toggle Search
    function toggleSearch() {
        document.getElementById('searchContainer').classList.toggle('active');
      }

      let searchTimeout;

      function searchJO() {
          clearTimeout(searchTimeout); 

          searchTimeout = setTimeout(() => {
            handleJoSearch();
          }, 1000);
      }

      function handleJoSearch() {
          let input = document.getElementById("searchInput").value.toLowerCase();
          let subjects = document.querySelectorAll("#open-subject .subject-card");
      
          subjects.forEach(subject => {
              let subjectTitle = subject.querySelector(".subject-info h4").innerText.toLowerCase();
              let professorInfo = subject.querySelector(".subject-info p").innerText.toLowerCase();
      
              if (subjectTitle.includes(input) || professorInfo.includes(input)) {
                  subject.style.display = "block";
              } else {
                  subject.style.display = "none"; 
              }
          });
      }

      // Subject Toggle
      const addButtons = document.querySelectorAll('.view-subject');
      addButtons.forEach((btn) => {
        btn.addEventListener('click', () => {
          const card = btn.closest('.subject-card');
          // Toggle the "open" class to slide down/up the subject-card-body
          card.classList.toggle('open');

        });
      });

</script>

{% endblock content %}